{% extends "DintanavongPresentationBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="row">
        <div class="col s12">
            <div class="parallax-container">
                <div class="parallax"><img src="https://static.pexels.com/photos/270348/pexels-photo-270348.jpeg"></div>
            </div>
            <div class="section white">
                <div class="row container">
                    <h1 class="header animated slideInLeft">Présentation</h1>
                    <p class="grey-text text-darken-3 lighten-3">
                        Salut tout le monde je m'appelle Kévin, j'ai 21 ans.
                    </p>
                    <p class="grey-text text-darken-3 lighten-3">
                        Actuellement en possession d'un BTS SN et d'une licence professionnelle, je dispose de connaissances dans le développement
                        web mais également dans le réseau.
                    </p>
                    <p class="grey-text text-darken-3 lighten-3">Désormais je poursuis mes études sur un master dans le management notamment dans la gestion de projets
                        afin de devenir plus tard chef de projet informatique.
                    </p>
                    <p class="grey-text text-darken-3 lighten-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas malesuada placerat faucibus. Nam vitae feugiat dui. Aliquam volutpat rhoncus sem nec efficitur. Curabitur eu convallis urna. Fusce ut arcu pretium, fringilla libero non, eleifend urna. Suspendisse hendrerit mattis blandit. Proin vitae leo pharetra velit interdum volutpat sed ut tortor. Vivamus porttitor condimentum metus, nec imperdiet nisl dictum eu. Aliquam quis justo ornare, lacinia ante in, congue tellus. Suspendisse potenti. Donec gravida felis in ex mollis rhoncus. In maximus varius aliquam. Etiam scelerisque lobortis pellentesque. Pellentesque finibus nunc ac ipsum dictum, non pellentesque nulla aliquam. Integer mollis nulla risus, in malesuada nisi pulvinar vel.
                    </p>
                </div>
            </div>
            <div class="parallax-container">
                <div class="parallax"><img src="https://c.pxhere.com/photos/95/14/photo-115778.jpg!d"></div>
            </div>
        </div>
    </div>
{% endblock %}
