{% extends "DintanavongPresentationBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}
    <!-- Add container -->
    {{ parent() }}
    <div class="row">
        <div class="col s12">
            <p>Salut</p>
        </div>
    </div>
{% endblock %}
