#se_connecter {
    padding-right: 1%;
}
.materialboxed {
    width: 100% !important;
}
#menu {
    position:fixed;
    right:0px;
    bottom:0px;
}

.parallax-container {
    height: 600px;
}

#loader {
    position: absolute; left: 50%; top: 50%;
}

#footer {
    display: none;
}
.pages {
    display: none;
}
body {
    background-color: #fcfcfc;
}
.front .card-content {
    border: 1px solid #dadada !important;
}
#form {
    margin-top: 5%;
    border: 6px double #dadada;
    padding: 2%;
}
#button_parallax {
    position: absolute;
    top: 50%;
    left: 30%;
}
.indicators {
    bottom:60px !important;
    z-index: 100 !important;
}
.slider .indicators .indicator-item.active {
    background-color: #00897b;
}