/* Icone sidebar */
#se_connecter {
    padding-right: 1%;
}
/* Icone bottom gauche */
#menu {
    position:fixed;
    bottom:10px;
    left: 10px;
}
#back-to-top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: #009688;
    padding: 10px;
    color:#FAFAFA;
    opacity: 0;
    cursor: pointer;
    /* Effet pour faire pop le btn */
    -webkit-transition: opacity 600ms, visibility 600ms;
    transition: opacity 600ms, visibility 600ms;
}
#back-to-top.show {
    opacity: 1;
}
.parallax-container {
    height: 600px;
}
/* Positionnement de l'icone de chargement au milieu de la page */
#loader {
    position: absolute; left: 50%; top: 50%;
}
#footer {
    display: none;
}
.pages {
    display: none;
}
body {
    background-color: #fcfcfc;
}
.front .card-content {
    border: 1px solid #dadada !important;
}
/* Contact form */
#form {
    margin-top: 5%;
    border: 6px double #dadada;
    padding: 2%;
}
/* Btn à l'intérieur du parallax */
#button_parallax {
    position: absolute;
    top: 50%;
    left: 30%;
}
/* Inclusion des indicators à l'intérieur du slider */
.indicators {
    bottom:60px !important;
    z-index: 100 !important;
}
/* Changement de couleur de l'indicator quand on clique */
.slider .indicators .indicator-item.active {
    background-color: #00897b;
}
/* Fullpage */
#fp-nav ul li a span, .fp-slidesNav ul li a span {
    background: white !important;
}
#fullpage {
    color:white;
    text-align: center;
    font-family: 'Indie Flower', Arial !important;
}
#fp-nav ul li .fp-tooltip {
    font-family: 'Indie Flower', Arial !important;
    font-size: 25px !important;
}
#fullpage {
    display: none;
}
/* Loader Deep Sense */
#loaderDp {
    position: fixed;
    content:url('../img/loader.gif');
    margin-left: auto;
    margin-right: auto;
    top:50%;
    left: 50%;
    transform: translateX(-50%);
}
.tlt {
    font-size: 5em;
}