#menu_portfolio a:hover {
   width: 100% !important;
}
#se_connecter {
    padding-right: 1%;
}
.materialboxed {
    width: 100% !important;
}
#menu {
    position:fixed;
    right:0px;
    bottom:0px;
}

.parallax-container {
    height: 700px;
}



/* Fade */
/*.p_home {*/
    /*opacity:0;*/
/*}*/
